<div class="container">
  {{> jumbotron/jumbo}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Tacos I have not eaten!</h2>
        <ul>
          {{#each tacos}}
            {{#unless devoured}}
              {{> tacos/taco-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col">
        <h2>Tacos I have eaten!</h2>
        <ul>
          {{#each tacos}}
            {{#if devoured}}
              {{> tacos/taco-block devoured=false}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <h2>Add a Taco Flavor</h2>
  <form class="addTaco-form">

    <div class="form-group">
      <label for="taco">Taco Name:</label>
      <input type="text" id="taco" name="name">
    </div>
    <button type="submit">Add Taco</button>
  </form>
</div>